@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  font-family: "Roboto", Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: 350px;
  box-shadow: -5px 6px 17px -6px rgba(0, 0, 0, 0.75);
  display: inline-block;
  background-color: #1c1c1cab;
  padding: 50px;
}
.flex-container {
  display: flex;
  height: 90vh;
  background: -webkit-linear-gradient(to right, #274046, #e6dada);
  background: linear-gradient(to right, #274046, #e6dada);
  background-image: url("../../assets/images/access.jpg");
}
.centered {
  justify-content: center;
  align-items: center;
}
.title-form {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 24px;
}
.inputContainer {
  height: 60px;
}
input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 15px;
  font-size: 14px;
}
.btn {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  background-color: #356fa9;
  border: 1px solid black;
  color: #f7fafc;
}
.error {
  font-size: 11px;
  color: rgba(0, 0, 0);
  opacity: 0;
}
.visible {
  opacity: 1;
}
.inputError-login {
  background-color: #ffe2a8;
  color: #000000;
}
.regla {
  margin-bottom: 15px;
  font-size: 13px;
}
.title {
  text-align: center;
  font-size: 15px;
}
.regla,
.title,
#comment-login {
  color: white;
}
.btn-register:disabled {
  background-color: #ffe2a854;
}
.visible {
  opacity: 1;
}
.register-link {
  font-size: 15px;
  color: white;
  padding-top: 10px;
}
.style-em {
  color: #89f745;
  text-decoration: none;
  font-size: 15px;
}
