select {
  background-color: #5183d09c;
  width: 150px;
  padding: 2px;
  height: 30px;
  font-size: 14px;
  border-radius: 20px;
  border:none;
  outline: none;
  text-align: center;
  text-align-last: center;
  margin-right: 10px;
  color: white;
}
select .option{
  text-align: center;
}
.input-filter {
  display: none;
}
label:hover{
  font-weight: bolder;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: underline;
}
label:active{
text-decoration:wavy;
}

@media (max-width: 746px){
  select{
    margin: 0 auto;
  }
#order-label {
    display: none;
  }
}