* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
:root {
  --font-family-1: "IBM Plex Sans", sans-serif;
  --font-family-2: "IBM Plex Mono", monospace;
  --font-family-3: "IBM Plex Mono", medium;
  --font-size-1-320: 14px;
  --font-size-2-320: 36px;
  --font-size-3-320: 16px;
}
.boton-menu {
  margin-top: 5px;
  margin-right: 7px;
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  padding: 0.5em 10px;
}
.logo {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-left: 7px;
}
.mostrar-menu {
  height: 27px;
  width: 27px;
  cursor: pointer;
}
.menu-desplazable {
  width: 361px;
  height: 100vh;
  top: 55px;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  cursor: pointer;
  transition: all 0.4s ease;
  position: absolute;
  transform: translate(100%);
  text-align: inherit;
}
.menu-texto {
  font-size: var(--font-size-3-320);
  font-family: var(--font-family-1);
  margin: 25px 20px;
  list-style: none;
  padding: 0 16px;
}
.style:hover {
  color: black;
  text-decoration: underline;
}
.style:focus {
  color: #060a24;
  font-weight: bolder;
}
.style {
  color: whitesmoke;
  text-decoration: none;
}
#desplegar {
  display: none;
}
#desplegar:checked ~ .menu-desplazable {
  transform: translate(0%, 0%);
}
.linea {
  height: 10%;
  width: 75%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}
.linea-top {
  top: 25%;
}
.linea-low {
  top: 75%;
}
.label-menu {
  display: inline-block;
  height: 80%;
  width: 90%;
  padding: 0.1rem;
  margin: 2px 0 0 11px;
  cursor: pointer;
  position: relative;
}
.custom-checkbox:checked + .label-menu .linea-low {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: red;
}
.custom-checkbox:checked + .label-menu .linea-med {
  visibility: hidden;
}
.custom-checkbox:checked + .label-menu .linea-top {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: red;
}
ul {
  width: 300px;
}
.menu-texto-style {
  color: red;
}
@media (max-width: 640px) {
  .menu-desplazable {
    background: linear-gradient(to right, transparent, transparent);
    background-color: lightblue;
    right: 0;
    width: 100%;
    height: auto;
  }
  .style {
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }
}
