* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-family-1: "IBM Plex Sans", sans-serif;
  --font-family-2: "IBM Plex Mono", monospace;
  --font-size-1: 15px;
  --font-size-2: 16px;
  --font-size-3: 19px;
}
.contact-content {
  max-width: 1200px;
  width: 100%;
  background: #70e1f5;
  background: -webkit-linear-gradient(to right, #70e1f5, #ffd194);
  background: linear-gradient(to right, #70e1f5, #ffd194);
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
 
}
.contact-right {
  text-align: center;
  width: 100%;
}
a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
}
.content-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.text-paragraph {
  font-family: var(--font-family-2);
  font-size: var(--font-size-3);
  letter-spacing: 0.3px;
  margin: 0px 10px;
}
@media (max-width: 746px) {
  .contact-right {
    margin: 15px auto;
    padding-top: 10px;
  }
  .content-icons {
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
  }
  .text-paragraph {
    font-size: var(--font-size-1);
    padding-top: 15px;
  }
}
