.content-product {
  max-width: 1200px;
  margin: 0 auto;
}
.product-card {
  height: 380px;
  margin-bottom: 2em;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
  border-radius: 15px;
  text-align: center;
}
.buy {
  float: right;
  margin: 5px;
}
.product-card-img {
  width: 100%;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
}
.item {
  padding-bottom: 10px;
}
.category{
  color: gray;
}
.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7em;
}
