@import url(https://fonts.googleapis.com/css?family=Fascinate);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.not {
  width: 100%;
  height: 85vh;
  font-family: "Fascinate", cursive;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow-y: none;
  overflow-x: hidden;
  padding-bottom: 4rem;
  background: #6a9c92;
}
.span {
  margin: -7rem 0;
  color: #f74545;
  align-self: center;
  font-size: 22rem;
  letter-spacing: 4rem;
  transition: font-size 0.3s ease;
  transform: rotate(-3deg);
  text-shadow: 0px 0px 0 #ffac78, -1px 1px 0 #ffac78, -2px 2px 0 #ffac78,
    -3px 3px 0 #ffac78, -4px 4px 0 #ffac78, -5px 5px 0 #ffac78,
    -6px 6px 0 #ffac78, -7px 7px 0 #ffe2a8, -8px 8px 0 #ffe2a8,
    -9px 9px 0 #ffe2a8, -10px 10px 0 #ffe2a8, -11px 11px 0 #ffe2a8,
    -12px 12px 0 #ffe2a8, -13px 13px 0 #ffe2a8, -14px 14px 0 #ffe2a8,
    -15px 15px 0 #ffe2a8, -16px 16px 0 #ffe2a8,
    -17px 17px 0 hsl(0deg 0% 0% / 19%), 0 6px 1px hsl(0deg 0% 0% / 10%),
    0 0 5px hsl(0deg 0% 0% / 20%), 0 1px 3px hsl(0deg 0% 0% / 25%),
    0 3px 5px hsl(0deg 0% 0% / 28%), 0 5px 10px hsl(0deg 0% 0% / 35%),
    0 10px 15px hsl(0deg 0% 0% / 40%), 0 20px 20px hsl(0deg 0% 0% / 45%);
}
.p {
  margin: 0rem 0;
  display: flex;
  justify-content: center;
  color: #f74545;
  align-self: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  transition: font-size 0.3s ease;
  text-shadow: 0px 0px 0 #ffac78, -1px 1px 0 #ffac78, -2px 2px 0 #ffac78,
    -3px 3px 0 #ffac78, -4px 4px 0 #ffac78, -5px 5px 0 #ffac78,
    -6px 6px 0 #ffac78, -7px 7px 0 #ffe2a8, -8px 8px 0 #ffe2a8,
    -9px 9px 0 #ffe2a8, -10px 10px 0 #ffe2a8, -11px 11px 0 #ffe2a8,
    -12px 12px 0 #ffe2a8, -13px 13px 0 #ffe2a8, -14px 14px 0 #ffe2a8,
    -15px 15px 0 #ffe2a8, -16px 16px 0 #ffe2a8,
    -17px 17px 0 hsl(0deg 0% 0% / 19%), 0 6px 1px hsl(0deg 0% 0% / 10%),
    0 0 5px hsl(0deg 0% 0% / 20%), 0 1px 3px hsl(0deg 0% 0% / 25%),
    0 3px 5px hsl(0deg 0% 0% / 28%), 0 5px 10px hsl(0deg 0% 0% / 35%),
    0 10px 15px hsl(0deg 0% 0% / 40%), 0 20px 20px hsl(0deg 0% 0% / 45%);
}
.one {
  transform: rotate(-26deg);
}
.two {
  color: #423845;
  font-size: 21rem;
}
.mid {
  color: #423845;
  font-size: 6rem;
  margin-left: -9rem;
  margin-top: 1rem;
  z-index: 3;
  letter-spacing: -6px;
}
.three {
  transform: rotate(26deg);
  margin-left: -5rem;
  margin-top: -8rem;
}

.content-btn-notFound{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.btn-notFound{
  background-color: #6e61a9fa;
  height: 30px;
  width: 120px;
  font-size: 13px;
  outline: none;
  border: none;
  color: white;
  border-radius: 25px;
 
}
.btn-notFound:hover{
  text-overflow: ellipsis;
}

