.content-div {
  height: 90vh;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.text-coin {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.text {
  padding-top: 1em;
  font-size: 1.3em;
  font-weight: bolder;
}
.div-coins {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.list-coins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  width: 80%;
}
.input-coins {
  width: 15px;
}
#label-coins {
  cursor: pointer;
  text-decoration: none;
}
.item-coins {
  display: flex;
  flex-basis: column;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}
.submit-coin {
  background-color: #ec23e6fa;
  height: 30px;
  width: 100px;
  font-size: 14px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
}
.submit-coin:hover {
  color: black;
  font-weight: bold;
}
@media (max-width: 746px) {
  .list-coins {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
}
